In [1]:
import pandas as pd

In [10]:
# read the csv file and display the data frame
df_gdp = pd.read_csv('gdp.csv')
df_gdp

      unid wbid      country  year        SES       gdppc  yrseduc  popshare
0        4  AFG  Afghanistan  1970   3.474212   709.00000      NaN  0.003097
1        4  AFG  Afghanistan  1920  26.968016   731.75677      NaN  0.003245
2        4  AFG  Afghanistan  1990   1.269530   604.00000      NaN  0.002347
3        4  AFG  Afghanistan  1960  15.763076   739.00000      NaN  0.003039
4        4  AFG  Afghanistan  2000   2.061114   565.00000      NaN  0.003309
...    ...  ...          ...   ...        ...         ...      ...       ...
1979   858  URY      Uruguay  1910  78.526253  3136.00000   2.5900  0.000611
1980   858  URY      Uruguay  1990  71.591408  9840.72660   7.4745  0.000605
1981   858  URY      Uruguay  1970  74.391846  5184.00000   5.6790  0.000783
1982   858  URY      Uruguay  1940  78.112961  3661.00000   3.8300  0.000846
1983   858  URY      Uruguay  1880  86.436966  2082.00000   2.1400  0.000333

[1984 rows x 8 columns]

## .pivot()

In [8]:
# reshape the dataframe with .pivot()
df_gdp_pivot = df_gdp.pivot(index='country', columns='year', values='gdppc')
df_gdp_pivot

year,1880,1890,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2010
country,,,,,,,,,,,,,,
Afghanistan,585.46509,635.93024,686.39532,736.86047,731.75677,702.83783,673.91895,645.0,739.0,709.0,690.0000,604.00000,565.0000,1662.8035
Albania,522.00000,598.00000,685.00000,780.00000,861.31250,929.57141,965.28571,1001.0,1451.0,2004.0,2347.0000,4557.40820,5470.0176,9927.1758
Algeria,819.18604,923.37207,1027.55810,1131.74410,1201.21620,1255.81080,1310.40540,1365.0,2088.0,2249.0,3152.0000,10238.88400,10211.1040,12898.2960
Angola,533.66669,567.33331,601.00000,628.69232,682.62964,747.81482,813.00000,1052.0,1253.0,1768.0,961.0000,4806.43020,3831.0000,6492.1768
Argentina,1731.50000,2152.00000,2756.00000,3822.00000,3473.00000,4080.00000,4161.00000,4987.0,5559.0,7302.0,8206.0000,10833.50300,14924.3740,18794.2700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uganda,533.66669,567.33331,601.00000,628.69232,682.62964,747.81482,813.00000,687.0,713.0,867.0,572.0000,783.10931,1077.6956,1573.4714
Ukraine,1041.00000,1139.00000,1237.00000,1430.07690,1432.93330,1448.00000,2144.00000,2841.0,3945.0,5575.0,5378.1763,10463.96000,4797.3804,7824.4985
United Arab Emirates,811.76746,881.53491,951.30231,1021.06980,3833.67580,7821.78370,11809.89200,15798.0,22433.0,24552.0,27709.0000,114518.83000,107206.4600,57406.7380
United Kingdom,3477.00000,4009.00000,4492.00000,4611.00000,4548.00000,5441.00000,6856.00000,6939.0,8645.0,10767.0,12931.0000,26769.35700,32961.5270,36195.8670
Uruguay,2082.00000,NaN,NaN,3136.00000,NaN,4301.00000,3661.00000,NaN,4960.0,5184.0,6555.0000,9840.72660,12874.7760,17082.4100

## .pivot_table()

In [9]:
# read the excel file and display the data frame
df_sales = pd.read_excel('supermarket_sales.xlsx')
df_sales

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,2019-01-29,13:46:00,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,2019-03-02,17:16:00,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2019-02-09,13:22:00,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2019-02-22,15:33:00,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2019-02-18,13:28:00,Cash,618.38,4.761905,30.9190,6.6

In [14]:
# make a pivot table, add an aggregate function and select some columns 
df_sales.pivot_table(index='Gender',
                     values=['Quantity', 'Total'],
                     aggfunc='sum').round(1)

        Quantity     Total
Gender
Female      2869  167882.9
Male        2641  155083.8

In [17]:
# make a pivot tables that says how much male and female spend in each category
df_sales.pivot_table(index='Gender',
                     columns='Product line',
                     values='Total',
                     aggfunc='mean').round(1)

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,322.6,317.1,368.6,290.0,380.2,324.7
Male,316.7,291.1,273.5,348.1,294.1,340.4