In [1]:
import pandas as pd

In [42]:
# read the csv file
df = pd.read_csv('players_20.csv')

# set index
df.set_index('short_name', inplace=True)

# select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

#display the data frame
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

## .loc[row_label, col_label]

### Select with a Single Value

In [68]:
# get all columns that correspond to the index 'L. Messi'
df.loc['L. Messi', :]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

In [81]:
# get all rows inside the 'height_cm' column
df.loc[:, 'height_cm'].head(3)

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
Name: height_cm, dtype: int64

In [13]:
# get the height of L.Messi
df.loc['L. Messi', 'height_cm']

170

### Select with a List of Values

In [7]:
# get all data about L.Messi and Cristiano Ronaldo
df.loc[['E. Hazard', 'L. Messi', 'Cristiano Ronaldo']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [32]:
# get the height of L.Messi and Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm']]

                   height_cm
short_name
L. Messi                 170
Cristiano Ronaldo        187

In [34]:
# get the height and weight of L.Messi
df.loc['L. Messi', ['height_cm', 'weight_kg']]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [36]:
# get height and weight of L.Messi and Cristiano Ronaldo
df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm', 'weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

### Select a Range of Data with a Slice

In [43]:
# slice column labels - end stop is included in the slicing
df.loc[['L. Messi', 'Cristiano Ronaldo'], 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [11]:
# get top5 players
id = df.index[:5]
print(id)

df.loc[id, ['height_cm', 'nationality']]

Index(['L. Messi', 'Cristiano Ronaldo', 'Neymar Jr', 'J. Oblak', 'E. Hazard'], dtype='object', name='short_name')

                   height_cm nationality
short_name
L. Messi                 170   Argentina
Cristiano Ronaldo        187    Portugal
Neymar Jr                175      Brazil
J. Oblak                 188    Slovenia
E. Hazard                175     Belgium

### Select with Conditions

In [19]:
# conditions
condition_height = df['height_cm'] > 180
condition_nationality = df['nationality'] == 'Argentina'

In [20]:
# one condition
df.loc[condition_height, ['height_cm']].head(3)

                   height_cm
short_name
Cristiano Ronaldo        187
J. Oblak                 188
K. De Bruyne             181

In [22]:
# multiple conditions
df.loc[condition_height & condition_nationality, ['height_cm', 'nationality']].head(3)

            height_cm nationality
short_name
M. Icardi         181   Argentina
G. Higuaín        186   Argentina
E. Garay          189   Argentina

## .iloc[row_position, column_position]

In [98]:
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain

In [94]:
# get the height of L.Messi
df.iloc[0,3]

170

In [102]:
# get all rows inside the 'height_cm column'
df.iloc[:,3].head(3)

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
Name: height_cm, dtype: int64

In [104]:
# get all columns that correspond to the index 'L. Messi'
df.iloc[0,:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

### Select with a List of Values

In [107]:
# get all data about L.Messi and Cristiano Ronaldo
df.iloc[[0,1]]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [23]:
# get the height of L.Messi and Cristiano Ronaldo
df.iloc[[0,1], 3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [113]:
# get the height and weight of L.Messi
df.iloc[0, [3,4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [115]:
# get height and weight of L.Messi and Cristiano Ronaldo
df.iloc[[0,1], [3,4]]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

### Select a Range of Data with a Slice

In [120]:
# slice column labels age/club
# players = ['L. Messi', 'Cristiano Ronaldo']
df.iloc[0:2, 1:7]

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [26]:
# top5 players with first 6 columns
df.iloc[:5, :6]

,long_name,age,dob,height_cm,weight_kg,nationality
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium

### Select with Conditions

iloc cannot accept a boolean Series, but only a boolean list. We have to use the list() function to convert a Series into a boolean list.

In [38]:
# one condition - boolean list from one condition
df.iloc[list(condition_height), 1:5].head(3)

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70

In [41]:
# multiple conditions - boolean list from multiple conditions
from_argentina_tall = list((df['nationality'] == 'Argentina') & (df['height_cm'] > 180))
df.iloc[list(condition_height & condition_nationality), :].head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF