In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the csv file
df = pd.read_csv('players_20.csv')

# set index
df.set_index('short_name', inplace=True)

# select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

#display the data frame
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [3]:
# update value of a cell
df.loc['L. Messi', 'height_cm'] = 175
#df.loc['L. Messi', 'height_cm']
df['height_cm'].head(3)

short_name
L. Messi             175
Cristiano Ronaldo    187
Neymar Jr            175
Name: height_cm, dtype: int64

In [4]:
# update values of multiple cells
df.loc[['L. Messi', 'Cristiano Ronaldo'], ['height_cm']] = 165
df['height_cm'].head(3)

short_name
L. Messi             165
Cristiano Ronaldo    165
Neymar Jr            175
Name: height_cm, dtype: int64

In [5]:
# update values in a column
df.loc[:, 'age'] = 30
df.loc[df.index[:5], 'age']

short_name
L. Messi             30
Cristiano Ronaldo    30
Neymar Jr            30
J. Oblak             30
E. Hazard            30
Name: age, dtype: int64

In [18]:
# update values in a row
df.loc[df.index[-1], :] = np.nan
print(df.iloc[-1], '\n')

df.iloc[-1,:] = 0
df.tail(1)

long_name      NaN
age            NaN
dob            NaN
height_cm      NaN
weight_kg      NaN
nationality    NaN
club           NaN
Name: Pan Ximing, dtype: object

           long_name  age dob  height_cm  weight_kg nationality club
short_name
Pan Ximing         0  0.0   0        0.0        0.0           0    0

In [9]:
# set value for rows matching a condition
df.loc[df['height_cm']>180, 'age'] = 27
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,30.0,1987-06-24,165.0,72.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,30.0,1985-02-05,165.0,83.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,30.0,1992-02-05,175.0,68.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,27.0,1993-01-07,188.0,87.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,30.0,1991-01-07,175.0,74.0,Belgium,Real Madrid