In [1]:
import pandas as pd

In [2]:
# read the csv file
df = pd.read_csv('players_20.csv')

# set index
df.set_index('short_name', inplace=True)

# select columns
df = df[['long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club']]

#display the data frame
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [3]:
# drop one row
df.drop('L. Messi').head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid

In [4]:
# index parameter
df.drop(index=['Cristiano Ronaldo']).head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid

In [5]:
# drop two or more rows and update data (inplace=True)
df.drop(['J. Oblak', 'Neymar Jr'], inplace=True)
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [6]:
# drop one column
df.drop('long_name', axis=1).head(3)

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus
E. Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [11]:
# columns parameter
df.drop(columns=['long_name']).head(3)

                          dob  height_cm nationality          club
short_name
L. Messi           1987-06-24        170   Argentina  FC Barcelona
Cristiano Ronaldo  1985-02-05        187    Portugal      Juventus
E. Hazard          1991-01-07        175     Belgium   Real Madrid

In [16]:
# drop column by position/index (drop last column)
df.drop(df.columns[[-1]], axis=1).head(3)

,long_name,dob,height_cm,nationality
short_name,,,,
L. Messi,Lionel Andrés Messi Cuccittini,1987-06-24,170,Argentina
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,1985-02-05,187,Portugal
E. Hazard,Eden Hazard,1991-01-07,175,Belgium

In [17]:
# drop two or more columns and update data (inplace=True)
df.drop(columns=['weight_kg', 'age'], inplace=True)
df.head(3)

KeyError: "['weight_kg', 'age'] not found in axis"