In [1]:
import pandas as pd

In [2]:
# read the csv file and display the data frame
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

## Column Operations

In [8]:
print(f'sum - {df_exams['math score'].sum()}')
print(f'count - {df_exams['math score'].count()}')
print(f'mean - {df_exams['math score'].mean()}')
print(f'std - {df_exams['math score'].std()}')
print(f'min - {df_exams['math score'].min()}')
print(f'max - {df_exams['math score'].max()}')

sum - 66089
count - 1000
mean - 66.089
std - 15.163080096009468
min - 0
max - 100

In [5]:
# easier calculation with the describe method
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## Row Operations

In [12]:
# calculate the total sum of a row
rows_sum = df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']
rows_sum.head(3)

0    218
1    247
2    278
dtype: int64

In [11]:
# rounding to 2 decimals the average score and assigning the result to a new column
df_exams['average score'] = (rows_sum / 3).round(2)
df_exams.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,average score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67