In [1]:
import pandas as pd

In [2]:
# read the csv files
df_movies = pd.read_csv('IMDb movies.csv', low_memory=False)
df_ratings = pd.read_csv('IMDb ratings.csv')

In [3]:
# select columns
df_movies = df_movies[['imdb_title_id', 'title', 'year',
                       'genre', 'country', 'director', 'actors']]

df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

## .concat()

In [5]:
# concat vertically
df1 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'age': [30, 23, 25, 22]})
df2 = pd.DataFrame({'id': ['E', 'F', 'G', 'F'],
                    'age': [40, 21, 19, 24]})

In [6]:
pd.concat([df1, df2])

  id  age
0  A   30
1  B   23
2  C   25
3  D   22
0  E   40
1  F   21
2  G   19
3  F   24

In [14]:
# extract a 50% sample of the original dataframe
df_half = df_movies.sample(frac=0.5)

In [15]:
# concatenate df_movies and df_sample (vertically along the rows)
df_vertical_concat = pd.concat([df_movies, df_half], axis=0)

In [16]:
len(df_vertical_concat) == len(df_movies) + len(df_half)

True

In [9]:
# concat horizontally
df1 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'age': [30, 23, 25, 22]})
df2 = pd.DataFrame({'job': ['Doctor', 'Statistician',
                            'Accountant', 'Developer']})

In [10]:
pd.concat([df1,df2], axis=1)

  id  age           job
0  A   30        Doctor
1  B   23  Statistician
2  C   25    Accountant
3  D   22     Developer

In [11]:
# shape of dataframes that we'll concatenate
print(df_movies.shape)
print(df_ratings.shape)

(85855, 7)
(85855, 3)

In [25]:
# check column names so we can choose an appropriate index to concatenate on
print(df_movies.columns)
print(df_ratings.columns)

Index(['imdb_title_id', 'title', 'year', 'genre', 'country', 'director',
       'actors'],
      dtype='object')
Index(['imdb_title_id', 'total_votes', 'mean_vote'], dtype='object')

In [17]:
# concatenate df_movies and df_ratings on 'imdb_title_id' (horizontally along the columns)
df_horizontal_concat = pd.concat([df_movies.set_index('imdb_title_id'), df_ratings.set_index('imdb_title_id')], axis=1)
df_horizontal_concat.head(3)

,title,year,genre,country,director,actors,total_votes,mean_vote
imdb_title_id,,,,,,,,
tt0000009,Miss Jerry,1894,Romance,USA,Alexander Black,"Blanche Bayliss, William Courtenay, Chauncey D...",154,5.9
tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",Australia,Charles Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",589,6.3
tt0001892,Den sorte drøm,1911,Drama,"Germany, Denmark",Urban Gad,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",188,6.0

In [18]:
df_horizontal_concat.shape[1] == df_movies.shape[1] + df_ratings.shape[1] - 2

True